/* Main */

* {
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

body {
    font-family: 'Montserrat';
    background-image: linear-gradient(to right, #223, #334);
    /* background-image: url('images/background.jpg'); */
    background-size: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 500;
}

/* Header */

.logo {
    font-size: 50px;
}


.header {
    background-image: linear-gradient(to right, #123, #1f2f3f);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 10vh;
    padding: 5px;
}

.header-links {
    display: flex;
    justify-content: right;
    margin: 12.5px 0;
}

a:hover {
    color: #e44;
}

.search, .profile {
    margin: 0 10px;
}

/* Body */

.sections {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.genres {
    background-color: #123;
    border: solid 2px #123;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.genres ul {
    margin: 20px 10px;
}

.genres li {
    margin: 5px 0;
}